
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.night{
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
}

.day{
  background: linear-gradient(to bottom, #83a4d4, #b6fbff);
}

.evening{
  background: linear-gradient(to right, #f46b45, #eea849);
}

.text-evening{
  color:#f46b45;
}

.night-card{
  background-color: #203a43;
}

.day-card{
  background-color:#83a4d4;
}

.bg-trans-light{
  background-color: rgba(255, 255, 255, 0.219);
}

.bg-trans-dark{
  background-color: rgba(0, 0, 0, 0.219);
}

.dark{
  font-weight: bold;
}

.min-height{
  min-height: 100vh;
}

.custom-r{
  border-radius: 10px;
}

.custom-p{
  padding: 20px;
}

.brand{
  font-family: 'Josefin Sans', sans-serif;
}

.ultra-small{
  font-size: 12px;
}

@media screen and (max-width:600px){
  .custom-r{
    border-radius: 0px;
  }
  
  .custom-p{
    padding: 0px;
  } 
}